.setlist-form.row
	.medium-6.columns
		= simple_form_for(@setlist) do |f|
			= f.error_notification

			= f.input :title
			= f.input :date, as: :date, html5: true
			= f.hidden_field :user, :input_html => { :value => current_user.id }, label: false, disabled: true, hidden: true
			= f.input :comments
			= f.button :submit