<p id="notice"><%= notice %></p>

<h1>Listing Setlists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>User</th>
      <th>Song</th>
      <th>Medium</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setlists.each do |setlist| %>
      <tr>
        <td><%= setlist.title %></td>
        <td><%= setlist.date %></td>
        <td><%= setlist.user %></td>
        <td><%= setlist.song %></td>
        <td><%= setlist.medium %></td>
        <td><%= setlist.comments %></td>
        <td><%= link_to 'Show', setlist %></td>
        <td><%= link_to 'Edit', edit_setlist_path(setlist) %></td>
        <td><%= link_to 'Destroy', setlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setlist', new_setlist_path %>
