<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @setlist.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @setlist.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @setlist.user %>
</p>

<p>
  <strong>Song:</strong>
  <%= @setlist.song %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @setlist.medium %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @setlist.comments %>
</p>

<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>
