.row
	.medium-6.columns
		%h2 #{@song.title}
		%h3 #{@song.author}
		- if @song.theme
			%p Theme: #{@song.theme}
		- if @song.tempo
			%p Tempo: #{@song.tempo}
		- if @song.key
			%p Key: #{@song.key}
		- if @song.CCLISongNo
			%p CCLI No: #{@song.CCLISongNo}
		= link_to 'Edit', edit_song_path(@song)
		= link_to 'Back', songs_path
	.medium-6.columns
		.song-text
			= markdown(@song.text)