.row
	.medium-6.columns
		%h1 #{@song.title}
		%h3 #{@song.author}
		%p Theme: #{@song.theme}
		%p Tempo: #{@song.tempo}
		%p Key: #{@song.key}
		%p CCLI No: #{@song.CCLISongNo}
	.medium-6.columns
		.song-text
			= markdown(@song.text)

= link_to 'Edit', edit_song_path(@song)
= link_to 'Back', songs_path