.row
  .medium-6.columns
    %h1 Media
    - @media.each do |medium|
      %h4= medium.title
      %p #{medium.mediatype}
      = image_tag medium.upload.thumb.url
      = link_to 'Show', medium
      = link_to 'Edit', edit_medium_path(medium)
      = link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Medium', new_medium_path