!!!
%html
%head
	%title Grandstand - Music Display
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header.logo-bar
	%nav.topbar
	%aside.side-menu
	%section.main-content
		- if notice
			%p.alert.alert-success= notice
		-if alert
			%p.alert.alert-danger= alert
	= yield
	%footer