!!!
%html
%head
	%title Grandstand - Music Display
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= favicon_link_tag 'favicon.png'
	= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Baloo+Thambi|Montserrat'
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header.logo-bar
		= render 'shared/navbar'

	%section.intro-page.small-12.columns
		= yield
	
	%footer.footer-content.row
		.footer-content.small-12.columns
			%p Copyright 2016